.main {
	width: 100%;
	min-height: 100vh;
	background: #c850c0;
	background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
	background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
	background: linear-gradient(45deg, #4158d0, #c850c0);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* button {
	height: 50px;
	width: 50px;
} */

input {
	height: 30px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.gridtable th {
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

tbody tr {
    font-family: OpenSans-Regular;
	font-size: 15px;
    line-height: 1.2;
	font-weight: unset;
}

.cityFilter {
	min-width: 150px;
	height: 30px;
	color: #fff;
	background: #36304a !important;
}

.nameFilter {
	min-width: 250px;
	color: #fff;
	background: #36304a !important;
}

.stateFilter {
	background: #36304a !important;
}

.phoneFilter {
	color: #fff;
	background: #36304a !important;
}

.genreFilter {
	min-width: 400px;
	background: #36304a !important;
}

.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
.pagination a.active {
    background: #36304a;
    color: white;
  }
  
.pagination a:hover:not(.active) {
	background: #36304a;
	color: white;
}
